/* Styles for the header */
header {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  /* Styles for the container */
  .container {
    text-align: left;
    max-width: 400px;
    margin: 0;
    padding: 20px;
  }
  
  /* Styles for the form */
  #weatherForm {
    margin-top: 20px;
    text-align: left;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Styles for the search history */
  #searchHistory {
    margin-top: 20px;
    text-align: left;
  }
  
  h2 {
    font-size: 18px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }